<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NiL.JS" publicKeyToken="fa941a7c2a4de689" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1339.1" newVersion="2.5.1339.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>